html,body{
    height: 100%;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
    padding: 20px;
    width:58px;
    margin: 0 3px;
    border:2px solid black;
    border-radius: 50%;
    cursor:pointer ;
    background-color: rgb(190, 141, 157);
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: 20px;
    margin:0;
    padding:10px 0;
    border: 2px solid black;
    border-radius: 5px;

}
.container{
    max-width: 30%;
    max-height: 85%;
    background: rgb(216, 184, 189);
}